./android-app/*.iml
./android-app/.gradle
./android-app/local.properties
./android-app/.idea/caches
./android-app/.idea/libraries
./android-app/.idea/modules.xml
./android-app/.idea/workspace.xml
./android-app/.idea/navEditor.xml
./android-app/.idea/assetWizardSettings.xml
./android-app/.DS_Store
./android-app/build
./android-app/captures
./android-app/.externalNativeBuild
./android-app/.cxx
./android-app/local.properties
